
.cardStyle{
    width:30%;
    padding: 32px 64px 32px 64px;
    margin-top:50px !important;
    margin: auto;
    text-align: left;
    cursor: pointer;
    
}
.cardStyle:hover{
    background-color:#d3d3d3;
}

.column1{
    padding-top: 20px;
    padding-left:33.33%;
    
}
.column2{
    padding-top: 10px;
    padding-left:33.33%;
    
}
.paybtn{
    margin-left:33.33% !important;
}